@import "tailwindcss";

body{
    background: radial-gradient(circle, rgb(34, 13, 149) 0%, rgba(240,240,240,1) 100%);
}
#tasklist, .alltask::-webkit-scrollbar{
    display: none;
}
/* .alltask::-webkit-scrollbar{
    display: none;
} */